# Ignore face2face-demo repository:
face2face-demo/

# Ignore pix2pix-tensorflow repository:
pix2pix-tensorflow/

.idea/
face2face-model*/
face2face-reduced-model*/
landmarks
original
angela_merkel_speech.mp4
shape_predictor_68_face_landmarks.dat

*.mp4
*.gif
*.bz2
tmp*
*.pb
photos
